extends layout
include _includes/sharedHTMLfunctions
block content
    .row.banner
        .col-12
            h1= pageHeader.title
    .row.row-cols-1.row-cols-md-2.g-4.text-dark
        .col
            .card
                .card-body
                    p.row.card-text.justify-content-around.text-left
                        span.col-12.col-md-5=location.address
                        +outputRating(location.rating)
                        h2.card-title.col-7.row-cols-1 Opening hours
                        each time in location.openingTimes
                            p.card-text
                                | #{time.days} :
                                if time.closed
                                    | closed
                                else
                                    | #{time.opening} - #{time.closing}
                        h2.card-title.col-7.row-cols-1 Facilities
                        each facility in location.facilities
                            span.col-4.material-icons.md-dark.text-center= facility
        .col
            .card
                .location-map
                    img.img-fluid.rounded(src="https://source.unsplash.com/ItaV89TNkks")
    br
    
    .row
        .col-12
            .card.text-dark
                .p.row.card-text.justify-content-around.text-left
                    h2.card-title.col-8 Customer reviews
                    a.btn.col-3.btn-primary.float-right(href='/location/review/new') Add review

    .row.row-cols-1.row-cols-md-2.g-4.text-dark
        each review in location.reviews
            .col
                .card
                    p.row.card-text.justify-content-around.text-left
                        span.col-3= review.author
                        +outputRating(location.rating)
                        span.col-3= review.timestamp
                        span.col-11 !{(review.reviewText).replace(/\n/g, '<br/>')}
                    br